In [ ]:
## Library import
import pandas as pd
import numpy as np
import os

In [ ]:
## Get the dataset
!wget -O dataset.csv https://drive.google.com/u/0/uc?id=1M29YyIzmD3aBwQ6u18NLqsdAKiNX1O15&export=download

--2022-06-04 09:24:25--  https://drive.google.com/u/0/uc?id=1M29YyIzmD3aBwQ6u18NLqsdAKiNX1O15
Resolving drive.google.com (drive.google.com)... 172.217.204.100, 172.217.204.113, 172.217.204.138, ...
Connecting to drive.google.com (drive.google.com)|172.217.204.100|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://drive.google.com/uc?id=1M29YyIzmD3aBwQ6u18NLqsdAKiNX1O15 [following]
--2022-06-04 09:24:25--  https://drive.google.com/uc?id=1M29YyIzmD3aBwQ6u18NLqsdAKiNX1O15
Reusing existing connection to drive.google.com:443.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-1o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/vo8qa7b71glj25b3l81dv12vfghanrjk/1654334625000/06635862410082308663/*/1M29YyIzmD3aBwQ6u18NLqsdAKiNX1O15 [following]
Warning: wildcards not supported in HTTP.
--2022-06-04 09:24:40--  https://doc-0c-1o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/vo8qa7b71glj25b3l81dv12vfghanrjk/1654334625000/06635862410082308663/*/1M29YyIzmD3aBwQ6u18NLqsdAKiNX1O15
Resolving doc-0c-1o-docs.googleusercontent.com (doc-0c-1o-docs.googleusercontent.com)... 172.217.204.132, 2607:f8b0:400c:c15::84
Connecting to doc-0c-1o-docs.googleusercontent.com (doc-0c-1o-docs.googleusercontent.com)|172.217.204.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65870510 (63M) [text/csv]
Saving to: ‘dataset.csv’

dataset.csv         100%[===================>]  62.82M  71.8MB/s    in 0.9s

2022-06-04 09:24:41 (71.8 MB/s) - ‘dataset.csv’ saved [65870510/65870510]

In [ ]:
  ## Dataset load
df = pd.read_csv("dataset.csv")
df.head(10)

,category,city,company_name,geo,job_board,job_description,job_title,job_type,post_date,salary_offered,state,url
0,Retail & Consumer Products,Sydney,Frontline Executive Retail Sydney,AU,seek,Have you had 10 years experience in fresh pro...,Store Manager - Fresh Produce,Full Time,2018-04-15T23:13:45Z,$100k Base + Super + Benefits,North Shore & Northern Beaches,https://www.seek.com.au/job/35989382
1,Government & Defence,Brisbane,Powerlink,AU,seek,The Opportunity: The Client Solution Analyst ...,Client Solution Analyst,Full Time,2018-04-15T23:04:40Z,Excellent remuneration packages,Northern Suburbs,https://www.seek.com.au/job/35989272
2,Trades & Services,Sydney,Richard Jay Laundry,AU,seek,An innovative business development role for a...,Service Technician / Installer - NSW,Full Time,2018-04-15T23:04:31Z,NaN,Parramatta & Western Suburbs,https://www.seek.com.au/job/35989270
3,Trades & Services,Melbourne,Adaptalift Hyster,AU,seek,About the role: We are seeking an Automotive W...,Workshop Technician I Material Handling Equipment,Full Time,2018-04-16T03:15:17Z,NaN,Bayside & South Eastern Suburbs,https://www.seek.com.au/job/35993203
4,Trades & Services,Adelaide,Bakers Delight G&M,AU,seek,Â Early starts and weekend shifts. No experie...,APPRENTICESHIP JUNIOR BAKER,Full Time,2018-04-16T01:26:50Z,NaN,NaN,https://www.seek.com.au/job/35991578
5,"Manufacturing, Transport & Logistics",Melbourne,Australian Red Cross Blood Service - H/O,AU,seek,â€¢Â Permanent full time â€¢Â Manufacturing â€...,Quality Management Systems Associate,Full Time,2018-04-16T03:02:57Z,NaN,CBD & Inner Suburbs,https://www.seek.com.au/job/35993034
6,Sales,Sydney,DuluxGroup,AU,seek,The Company: YatesÂ is Australia and New Zeal...,Yates - National Account Manager Grocery - Pad...,Full Time,2018-04-16T01:33:13Z,NaN,South West & M5 Corridor,https://www.seek.com.au/job/35991739
7,Community Services & Development,Brisbane,Mercy Community,AU,seek,Are you looking for a job with meaning; one t...,Family Support Worker-Aboriginal &Torres Strai...,Full Time,2018-04-16T03:16:27Z,NaN,NaN,https://www.seek.com.au/job/35993253
8,Healthcare & Medical,Melbourne,Austin Health,AU,seek,All Sites Permanent Full Time Austin Health is...,Allied Health Assistant â€“ Physiotherapy,Full Time,2018-04-16T04:00:37Z,NaN,Northern Suburbs,https://www.seek.com.au/job/35994026
9,Information & Communication Technology,Sydney,M&T Resources,AU,seek,IT Systems Administrator Â Southern Sydney S...,IT Systems Administrator,Full Time,2018-04-16T02:49:15Z,NaN,Southern Suburbs & Sutherland Shire,https://www.seek.com.au/job/35992850

In [ ]:
## Dropping column and check for NA values (tentuin kolom yang perlu dipake atau feature selection)
df_coldrop = df.drop(["geo", "job_board",  "post_date", "salary_offered","state","company_name", "url"], axis=1)
df_coldrop.head(10)
df_coldrop.query("category=='Trades & Services' and city=='Melbourne'")


##df_coldrop.isna()
##df_coldrop['salary_offered'] = df_coldrop['salary_offered'].replace(np.nan, ' ')

,category,city,job_description,job_title,job_type
3,Trades & Services,Melbourne,About the role: We are seeking an Automotive W...,Workshop Technician I Material Handling Equipment,Full Time
15,Trades & Services,Melbourne,"Based in Seaford Victoria, WJD Services Pty L...",Electronic Security Technical Install Manager,Full Time
47,Trades & Services,Melbourne,We have an exciting opportunity for a Cleaner...,Cleaner Driver - Tullamarine,Full Time
59,Trades & Services,Melbourne,"LABOURER/MR DRIVERS Sitetech Solutions, a com...",Labourer & MR Driver,Full Time
69,Trades & Services,Melbourne,5 Start Recruitment is searching for a Qualif...,Welder Fabricators,Contract/Temp
...,...,...,...,...,...
29824,Trades & Services,Melbourne,"Diesel Fitter Mechanic, Campbellfield Â About...",Mechanical Technician,Full Time
29834,Trades & Services,Melbourne,Join a leading plumbing organisation! Consist...,PLUMBERS REQUIRED - FOREMEN; PLUMBERS; MAINTEN...,Full Time
29857,Trades & Services,Melbourne,About The Company &amp; Role: Deluxebeauty is...,Beauty Therapist,Casual/Vacation
29976,Trades & Services,Melbourne,Are you ready for your next challenge? Do you...,Automotive Technician,Full Time
29989,Trades & Services,Melbourne,Rifleman Â The professional footy player rel...,Infantry Soldier - Female Opportunity,Full Time

In [ ]:
## Cleaning data.. (kalo misalnya ada unicode character itu diilangin sama semua descriptionnya diubah jadi lower - case semua)

df_coldrop['category']=df_coldrop['category'].apply(str.lower)
df_coldrop['city']=df_coldrop['city'].apply(str.lower)
df_coldrop['job_description'] = df_coldrop['job_description'].astype(str)
df_coldrop['job_description']=df_coldrop['job_description'].apply(str.lower)
df_coldrop['job_title']=df_coldrop['job_title'].apply(str.lower)
df_coldrop['job_type']=df_coldrop['job_type'].apply(str.lower)
df_coldrop.head(10)

,category,city,job_description,job_title,job_type
0,retail & consumer products,sydney,have you had 10 years experience in fresh pro...,store manager - fresh produce,full time
1,government & defence,brisbane,the opportunity: the client solution analyst ...,client solution analyst,full time
2,trades & services,sydney,an innovative business development role for a...,service technician / installer - nsw,full time
3,trades & services,melbourne,about the role: we are seeking an automotive w...,workshop technician i material handling equipment,full time
4,trades & services,adelaide,â early starts and weekend shifts. no experie...,apprenticeship junior baker,full time
5,"manufacturing, transport & logistics",melbourne,â€¢â permanent full time â€¢â manufacturing â€...,quality management systems associate,full time
6,sales,sydney,the company: yatesâ is australia and new zeal...,yates - national account manager grocery - pad...,full time
7,community services & development,brisbane,are you looking for a job with meaning; one t...,family support worker-aboriginal &torres strai...,full time
8,healthcare & medical,melbourne,all sites permanent full time austin health is...,allied health assistant â€“ physiotherapy,full time
9,information & communication technology,sydney,it systems administrator â southern sydney s...,it systems administrator,full time

In [ ]:
## Cleaning data 2 (stop words... kata kata yang ngga terlalu membawa makna kek "the", "of", "a" bisa diilangin)

In [ ]:
## Cleaning data 3 (cek ada nya data yang NA bisa di drop rownya )

In [ ]:
## Split data menjadi train dan testing (validation) (splitnya bebas mau 80% 20%)

df_train = df_coldrop.iloc[:20000:,]

df_test = df_coldrop.iloc[20000:30000, :]
df_train.head(10)

,category,city,job_description,job_title,job_type
0,retail & consumer products,sydney,have you had 10 years experience in fresh pro...,store manager - fresh produce,full time
1,government & defence,brisbane,the opportunity: the client solution analyst ...,client solution analyst,full time
2,trades & services,sydney,an innovative business development role for a...,service technician / installer - nsw,full time
3,trades & services,melbourne,about the role: we are seeking an automotive w...,workshop technician i material handling equipment,full time
4,trades & services,adelaide,â early starts and weekend shifts. no experie...,apprenticeship junior baker,full time
5,"manufacturing, transport & logistics",melbourne,â€¢â permanent full time â€¢â manufacturing â€...,quality management systems associate,full time
6,sales,sydney,the company: yatesâ is australia and new zeal...,yates - national account manager grocery - pad...,full time
7,community services & development,brisbane,are you looking for a job with meaning; one t...,family support worker-aboriginal &torres strai...,full time
8,healthcare & medical,melbourne,all sites permanent full time austin health is...,allied health assistant â€“ physiotherapy,full time
9,information & communication technology,sydney,it systems administrator â southern sydney s...,it systems administrator,full time

In [ ]:
## Export masing masing split data ke csv baru terus donlot csvnya

df_train.to_csv('train.csv', encoding='utf-8')
df_test.to_csv('test.csv', encoding='utf-8')